<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base HTML, Learning Template Inheritance in Django</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>Hello {{ request.user}}</h1>
    <!---<h3>Hello User</h3> ---in the above request.user(context variable) serves the username from the views-->
	{% block content %}
    #replace me
    {% endblock %}
  </body>
</html>